@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

.content-carousel{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.controller-left-laranja{
    height: 455px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 3px solid rgb(255, 131, 0);
    background-color: rgb(255, 131, 0);
}

.controller-left-laranja:hover{
    cursor: pointer;
    background: rgb(255,170,0);
    background: linear-gradient(270deg, rgba(255,131,0,1) 1%, rgba(255,170,0,1) 100%);
}

.controller-left-azul{
    height: 455px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 3px solid rgb(0, 163, 180);
    background-color: rgb(0, 163, 180);
}

.controller-left-azul:hover{
    cursor: pointer;
    background: rgb(0, 163, 180);
    background: linear-gradient(270deg, rgb(0, 163, 180) 1%, rgb(0, 200, 180) 100%);
}


.left-arrow-white {
    content: "";
    background: url("../images/seta-esquerda-branca.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 64px;
    height: 64px;
    float: left;
    display: block;
}




.controller-right-laranja{
    height: 455px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 3px solid rgb(255, 131, 0);
    background-color: rgb(255, 131, 0);
}

.controller-right-laranja:hover{
    cursor: pointer;
    background: rgb(255,170,0);
    background: linear-gradient(270deg, rgba(255,170,0,1) 1%,  rgba(255,131,0,1) 100%);
}

.controller-right-azul{
    height: 455px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 3px solid rgb(0, 163, 180);
    background-color: rgb(0, 163, 180);
}

.controller-right-azul:hover{
    cursor: pointer;
    background: rgb(0, 163, 180);
    background: linear-gradient(270deg, rgb(0, 200, 180) 1%,  rgb(0, 163, 180) 100%);
}

.right-arrow-white {
    content: "";
    background: url("../images/seta-direita-branca.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 64px;
    height: 64px;
    float: left;
    display: block;
}




.carousel{
    width: 85vw;
}
.carousel-product{
    width: 100%;
    height: 460px;
    overflow-x: scroll;
    overflow: hidden; 
    white-space: nowrap;
    position: relative;
    float: left; 
    cursor: grab;
}

.carousel-product:active{
    cursor: grabbing;
}

.carousel-product .card{
    border-radius: 10px;
    width: 300px;
    height: 450px;
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 10px;
    display: inline-block;
    text-align: center;
    white-space: normal;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 7px 7px 5px #aaaaaa;
    font-family: 'Bree Serif', serif;
}

.carousel-product .card ul{
    padding: 0;
    list-style: none;
}

.carousel-product .card ul li{
    margin-bottom: 25px;
}

.offer-laranja{
    border-top:  solid 4px rgb(255, 131, 0);
}

.offer-azul{
    border-top:  solid 4px rgb(0, 163, 180)
}

.product-description{
    height: 462px;
    border-top-left-radius: 800px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    margin-left: 69%;
    font-family: 'Bree Serif', serif;
}

.laranja{
    background-color: rgb(255, 131, 0);
}

.azul{
    background-color: rgb(0, 163, 180);
}

.prod-prec{
    color: rgb(121, 0, 0);
    font-weight: bolder;
    height: 20px;
}

.product-description .content{
    width: 90%;
    height: 422px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
}

.product-description .content .card{
    margin-top: 20%;
    margin-left: 20%;
    border-top-left-radius: 800px;
    width: 90%;
    height: 400px;
}
.product-description .content .card img{
    width: 100%;
    height: 70%;
}
.product-description .content .card .mode-description{
    overflow-y: scroll;
    overflow: hidden;
    height: 100px;    
    cursor: ns-resize;
}

.btn-comprar{
    border: solid 2px rgba(1, 111, 161,1);
    color: rgba(1, 111, 161,1);
    font-size: 18px;
    font-weight: bolder;
    text-decoration: none;
    padding: 15px 50px;
    border-radius: 10px;
}

.btn-comprar:hover{
    background-color: rgba(1, 111, 161,1);
    color: white;
}

@media  (max-width: 1230px){
    .product-description{
        visibility: hidden;
    }
}