.Principal {

}
.Secundario{
   
}

h1{
color: rgb(0, 51, 131);
font-style: bold;
font-family: 'Roboto', sans-serif;
}

p{

    
}

.titleNossasLojas{
border: solid;
display: flex;
}

#lojaI{ 
    border: solid;
    height: 100%;
    width: 50%;
    background: rgb(255, 131, 0);
    text-align: center;

}

#lojaII{
    border: solid ;
    background: rgb(255, 131, 0);
    height: 100%;
    width: 50%;
    text-align: center;
}

.titleNossasLojasII{
    border: solid ;
    display: flex;
    }
        
#lojaIII{
    border: solid;
    height: 100%;
    width: 50%;
    background: rgb(255, 131, 0);
    text-align: center;
}
        
 #lojaIV{
    border: solid;
    height: 100%;
    width: 50%;
    background: rgb(255, 131, 0);
    text-align: center;
}