.conteiner {
    margin-right: 70px;
    margin-left: 340px;
    margin-top: 50px;
    margin-bottom: 50px;

    height: 70vh;
}

.navegacao {
    position: fixed;
    left: 20px;
    top: 40vh;

    border: 1px silver solid;
    border-radius: 20px;
    width: 250px;
    background-color: white;
    
}

.navegacao a {
    text-decoration: none;
    color:rgb(0, 0, 73);
    font-size: 20px;
    font-weight: bold;
}

.navegacao li {
    padding: 20px;
    cursor: pointer;
}

.navegacao li:hover {
    background-image: linear-gradient(to right, rgb(129, 217, 252) , rgb(0, 132, 255));
}

.navegacao ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.logo {
    height: 100%;
    grid-column-end: 3;
    grid-row-end: 3;
    grid-row-start: 1;

    margin: 0 auto;
}
.logo img, .full {
    height: 100%;
}
.titulo{
    color: rgb(0, 0, 73);
}

.horizontal-card {
    display: grid;

    grid-template-columns: 2fr 1fr;
    grid-template-rows: 50% 50%;

    border-radius: 10px;
    height: 33%;
    width: 100%;

    margin-bottom: 10px;

    
    -moz-transition:  0.3s;
	-webkit-transition:  0.3s;
	transition:  0.3s;

    border-bottom: rgb(255, 131, 0) solid 10px;
    margin-bottom: 10px;

}

.horizontal-card:hover {
    -moz-transform: scale(1.0);
	-webkit-transform: scale(1.0);
	transform: scale(1.1);
    z-index: 1;
    background-color: rgb(228, 227, 227);
}

.horizontal-card a:hover{
    color:rgb(0, 132, 255);
    transition: 0.7s;
    -moz-transition: 0.7s;
    -webkit-transition: 0.7s;
}

.text-center{
    text-align: center;
}

.box-shadow {
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.3);
}

section {
    margin-right: 70px;
    margin-left: 340px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.img-desc {
    height: 300px;
    margin-left: 30px;
}

.bg-lightblue {
    background-color: rgb(6, 177, 196)
}

h1 {
    padding: 20px;
    margin: 0;
    font-size: 30px;
}

.conteiner-flex {
    display: flex;

}


.conteiner-flex div {
    width: 25%;
}

.content-center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2 {
    margin: 0;
    height: 30%;
    padding: 20px;
    color:rgb(0, 0, 73);
    font-size: 20px;
}

p {
    margin: 0;
    height: 90%;
    padding: 10px;
}

article {
    margin: 100px 0;
}

.titulo a {
    text-decoration: none;
    color:rgb(0, 0, 73);
    font-size: 35px;
    font-weight: bold;
}

.bg-orange {
    border-bottom: rgb(255, 131, 0) solid 10px;
}