@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
body{
    display: grid;
    grid-template-areas: 
    'HL HL'
    'CL CL'
    'FL FL';
    height: 100hv;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
	transition: background .4s ease-in;
}

body::-webkit-scrollbar{
    width:10px;
}

body::-webkit-scrollbar-thumb{
    background: #ed4d35;
    background: linear-gradient(180deg, #ce432d 18%, #ed4d35);;
    border-radius: 10px;
}

body::-webkit-scrollbar-track{
    background: #fff;
    background:linear-gradient(180deg, #fff 18%, #fff);
}

.header-layout{
    grid-area: HL;
    background-color: #ed4d35;
    height: 200px;
    background: rgb(32, 32, 32);
    background: linear-gradient(180deg, #ce432d 18%, #ed4d35);
}

.header-layout .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 10px;
}

.header-layout .content .logo-nav{
    width: 100%;
    height: 130px;  
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 10px;
}
.header-layout .content .logo-nav img{
      width: 20%;
      height: 100%;
}
.header-layout .content .logo-nav nav{
    width: 80%;
}

.header-layout .content .logo-nav ul{
    padding:0px 180px;
    margin:0px;
    list-style:none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-layout .content .logo-nav li{
    margin: 5px 0px;
    padding: 0px;
}

.header-layout .content .logo-nav li a{
    text-decoration: none;
    padding: 10px 5px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    animation-delay: all 3s;
}

.carrinho{
    padding-left: 35px!important;
}

.carrinho::before{
    content: "";
    background: url("../images/carrinho.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    float: left;
    display: block;
    position: relative;
    left: 30px;
}


.cadastro{
    padding-left: 35px!important;
}

.cadastro::before{
    content: "";
    background: url("../images/user.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    float: left;
    display: block;
    position: relative;
    left: 30px;
}

.assinatura{
    padding-left: 35px!important;
}

.assinatura::before{
    content: "";
    background: url("../images/assinatura.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    float: left;
    display: block;
    position: relative;
    left: 30px;
}

.adocao{
    padding-left: 35px!important;
}

.adocao::before{
    content: "";
    background: url("../images/adocao.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    float: left;
    display: block;
    position: relative;
    left: 30px;
}

.contato{
    padding-left: 35px!important;
}

.contato::before{
    content: "";
    background: url("../images/telefone.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    float: left;
    display: block;
    position: relative;
    left: 30px;
}

.servico{
    padding-left: 35px!important;
}

.servico::before{
    content: "";
    background: url("../images/petshop.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    float: left;
    display: block;
    position: relative;
    left: 30px;
}


.produto{
    padding-left: 35px!important;
}

.produto::before{
    content: "";
    background: url("../images/alimentacao-animal.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    float: left;
    display: block;
    position: relative;
    left: 30px;
}

.home{
    padding-left: 35px!important;
}

.home::before{
    content: "";
    background: url("../images/pet-house.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    float: left;
    display: block;
    position: relative;
    left: 30px;
}


.header-layout .content .logo-nav li a:hover{
    border-bottom: 2px solid rgb(235, 235, 235);
}


.header-layout .content .search{
    width: 100%;
    height: 50px; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.header-layout .content .search input{
    width: 600px;
    height: 40px;
    border: solid 2px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 20px;
}

.header-layout .content .search input:focus{
    box-shadow: 0 0 0 0;
    border: solid 2px;
    outline: 0;
}

.header-layout .content .search input::-webkit-input-placeholder{
    font-size: 20px;
    font-style: bold;
}

.header-layout .content .search a{
    width: 40px;
    height: 40px;
    background-color:#ce432d;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: #c93227 solid 3px;
}

.header-layout .content .search a:hover{
    background-color:#c93227;
}

.header-layout .content .search a::before{
    content: "";
    background: url("../images/lupa-de-pesquisa-b.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    float: left;
    display: block;
    position: relative;
    left: 7px;
    top: 7px;
}

.content-layout{
    grid-area: CL;   
}

.footer-layout{
    grid-area: FL;
    height: 500px;
    background: #ed4d35;
    background: linear-gradient(180deg, #ce432d 18%, #ed4d35);
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
}

.footer-layout div{
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sobre p{
    line-height: 30px;
    width: 60%;
}

.creditos{
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.creditos ul{
    padding: 0px;
    margin: 0px;
    width: 70%;
}

.creditos ul li{
    list-style: none;
    padding: 0px;
    margin-bottom: 15px;    
}

.creditos ul li a{
    text-decoration: none;
    color: white;
    margin: 5px;
}

.creditos ul li .git::after{
    content: "";
    background: url("../images/git.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    float: left;
    display: block;
    position: relative;
}

.sociais ul{
    margin: 0px;
    padding: 0px;
}

.sociais ul li{
    list-style: none;
    margin-bottom: 30px;
}

.sociais ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left: 5px;
}

.sociais ul li .face::before{
    content: "";
    background: url("../images/facebook.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 32px;
    float: left;
    display: block;
    position: relative;
}

.sociais ul li .insta::before{
    content: "";
    background: url("../images/instagram.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 32px;
    float: left;
    display: block;
    position: relative;
}

.sociais ul li .twitter::before{
    content: "";
    background: url("../images/twitter.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 32px;
    float: left;
    display: block;
    position: relative;
}

@media  (max-width: 1230px){
    .creditos{
        border-left: 1px solid white;
        border-right: none;
        border-top: none;
        border-bottom: none;
        
    }
}


@media (max-width: 800px){
    .header-layout{
        height: 700px;
    }

    .header-layout .content .logo-nav{
        height: 500px;
        align-items: center;
    }

    .header-layout .content .logo-nav img{
        width: 60%;
        height: 30%;
    }
    .header-layout .content .search{
        height: 100px;
    }

    .header-layout .content .logo-nav ul{
        align-items: center;
    }

    .header-layout .content .logo-nav li{
        margin: 5px 0px;
        padding: 0px;
        width: 50%;
        align-items: center;
    }

    .header-layout .content .logo-nav li a{
        font-size: x-large;
    }

    .header-layout .content .search input{
        width: 400px;
    }

    .footer-layout{
        height: 1000px;
    }

    .creditos{
        border-left: none;
        border-right: none;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        
    }
}


@media (max-width: 549px){


    .header-layout .content .logo-nav li{
        width: 100%;
        padding: 0px 70px;
        
    }

    
}

/* Banner Home */

.banner{
	align-items: center;
}

.banner-area{
	width: 100%;
	height: 310px;
	background-color: #fff;
	background-size: cover;
	background-position: center center;
}

.banner-area img{
	width: 900px;
	height: 300px;
	border-radius: 20px;
	object-fit: cover;
}

.card{
	position: absolute;
	width: 900px;
	height: 300px;
	left: 0;
	right: 0;
	margin: auto;
	cursor: pointer;
	transition: transform .4s ease;
}

.cards{
	width: 900px;
	height: 300px;
	margin-bottom: 10px;
}

#img1:checked ~ .cards #banner3, #img2:checked ~ .cards #banner1, #img3:checked ~ .cards #banner2{
	transform: translatex(-40%) scale(.8);
	opacity: .4;
	z-index: 0;
}

#img1:checked ~ .cards #banner2, #img2:checked ~ .cards #banner3, #img3:checked ~ .cards #banner1{
	transform: translatex(40%) scale(.8);
	opacity: .4;
	z-index: 0;
}

#img1:checked ~ .cards #banner1, #img2:checked ~ .cards #banner2, #img3:checked ~ .cards #banner3{
	transform: translatex(0) scale(1);
	opacity: 1;
	z-index: 1;
}

input[type=radio]{
	display: none;
}

/* Lista de produtos Home */

.list-prod-area{
    width: 98vw;
	height: 310px;
    margin: 10px;
	background-color: #fff;
}

.cardprod{
	position: relative;
	left: 0;
	right: 0;
}

.cardsprod{
    display: flex;
    overflow-x: auto;
}

.cardsprod img{
	width: 280px;
	height: 280px;
    padding: 10px;
    flex: none;
}

.cardsprod::-webkit-scrollbar{
    width:10px;
    height: 10px;
}

.cardsprod::-webkit-scrollbar-thumb{
    background: #ed4d35;
    background: linear-gradient(180deg, #ce432d 18%, #ed4d35);;
    border-radius: 10px;
}

.cardsprod::-webkit-scrollbar-track{
    background: #fff;
    background:linear-gradient(180deg, #fff 18%, #fff);
}

/* Lista de serviços Home */

.list-serv-area{
    width: 98vw;
	height: 310px;
    padding: 10px;
	background-color: #fff;
}

.cardserv{
	position: relative;
    display: flex;
    justify-content: space-around;
	left: 0;
	right: 0;
}

.cardsserv img{
	width: 510px;
	height: 310px;
}