@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
body{
    display: grid;
    grid-template-areas: 
    'HL HL'
    'CL CL'
    'FL FL';
    height: 100hv;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

body::-webkit-scrollbar{
    width:10px;
}

body::-webkit-scrollbar-thumb{
    background-color:rgb(255, 131, 0);
    border-radius: 10px;
}

body::-webkit-scrollbar-track{
    background-color: rgb(0, 163, 180);
}

.header-layout{
    grid-area: HL;
    background-color: rgb(255, 255, 255);
    height: 200px;
    background: rgb(0, 163, 180);
    background: linear-gradient(180deg, rgb(5, 149, 166) 18%, rgb(0, 163, 180)100%);
}

.header-layout .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
}

.header-layout .content .logo-nav{
    width: 100%;
    height: 130px;  
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.header-layout .content .logo-nav img{
      width: 20%;
      height: 100%;
}
.header-layout .content .logo-nav nav{
    width: 80%;
}

.header-layout .content .logo-nav ul{
    padding:0px;
    margin:0px;
    list-style:none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header-layout .content .logo-nav li{
    margin: 5px 0px;
    padding: 0px;
}

.header-layout .content .logo-nav li a{
    text-decoration: none;
    padding: 10px 5px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    animation-delay: all 3s;
}

/* Icones */

.faleconosco{
    padding-left: 35px!important;
    font-size: 20px;
}

.faleconosco::before{
    content: "";
    background: url("../images/faleconoscow.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    float: left;
    display: block;
    position: relative;
    left: 30px;
}

.nossaslojas{
    padding-left: 35px!important;
    font-size: 20px;
}

.nossaslojas::before{
    content: "";
    background: url("../images/nossaslojasw.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    float: left;
    display: block;
    position: relative;
    left: 30px;
}

.campanhassociais{
    padding-left: 35px!important;
    font-size: 20px;
}

.campanhassociais::before{
    content: "";
    background: url("../images/campanhassociaisw.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    float: left;
    display: block;
    position: relative;
    left: 30px;
}

.adocao{
    padding-left: 35px!important;
    font-size: 20px;
}

.adocao::before{
    content: "";
    background: url("../images/adocao.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    float: left;
    display: block;
    position: relative;
    left: 30px;
}

.veterinaria{
    padding-left: 35px!important;
    font-size: 20px;
}

.veterinaria::before{
    content: "";
    background: url("../images/veterinariaw.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    float: left;
    display: block;
    position: relative;
    left: 30px;
}

.servico{
    padding-left: 35px!important;
    font-size: 20px;
}

.servico::before{
    content: "";
    background: url("../images/petshop.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    float: left;
    display: block;
    position: relative;
    left: 30px;
}

.produto{
    padding-left: 35px!important;
    font-size: 20px;
}

.produto::before{
    content: "";
    background: url("../images/alimentacao-animal.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    float: left;
    display: block;
    position: relative;
    left: 30px;
}

.home{
    padding-left: 35px!important;
    font-size: 20px;
}

.home::before{
    content: "";
    background: url("../images/pet-house.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    float: left;
    display: block;
    position: relative;
    left: 30px;
}

/* Fim icones */

.header-layout .content .logo-nav li a:hover{
    border-bottom: 2px solid rgb(0, 51, 131);
}


.header-layout .content .search{
    width: 80%;
    height: 50px; 
    display: flex;
    align-items: center;
    justify-content: center;
	padding-left: 20%;
}

.header-layout .content .search input{
    width: 800px;
    height: 40px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 20px;
}

.header-layout .content .search input:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.header-layout .content .search input::-webkit-input-placeholder{
    font-size: 20px;
    font-style: bold;
}

.header-layout .content .search a{
    width: 40px;
    height: 40px;
    background-color:rgb(255, 131, 0);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.header-layout .content .search a:hover{
    background-color:rgb(255, 177, 94);
}

.header-layout .content .search a::before{
    content: "";
    background: url("../images/lupa-de-pesquisa-b.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    float: left;
    display: block;
    position: relative;
    left: 7px;
    top: 7px;
}


.content-layout{
    grid-area: CL;  
     
}

.footer-layout{
    grid-area: FL;
    height: 500px;
    background: rgb(0, 163, 180);
    background: linear-gradient(180deg, rgb(5, 149, 166) 18%, rgb(0, 163, 180)100%);
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
}

.footer-layout div{
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sobre p{
    line-height: 30px;
    width: 60%;
}

.creditos{
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.creditos ul{
    padding: 0px;
    margin: 0px;
    width: 70%;
}

.creditos ul li{
    list-style: none;
    padding: 0px;
    margin-bottom: 15px;    
}

.creditos ul li a{
    text-decoration: none;
    color: white;
    margin: 5px;
}

.creditos ul li .git::after{
    content: "";
    background: url("../images/git.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    float: left;
    display: block;
    position: relative;
}

.sociais ul{
    margin: 0px;
    padding: 0px;
}

.sociais ul li{
    list-style: none;
    margin-bottom: 30px;
}

.sociais ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left: 5px;
}

.sociais ul li .face::before{
    content: "";
    background: url("../images/facebook.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 32px;
    float: left;
    display: block;
    position: relative;
}

.sociais ul li .insta::before{
    content: "";
    background: url("../images/instagram.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 32px;
    float: left;
    display: block;
    position: relative;
}

.sociais ul li .twitter::before{
    content: "";
    background: url("../images/twitter.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 32px;
    float: left;
    display: block;
    position: relative;
}

@media  (max-width: 1230px){
    .creditos{
        border-left: 1px solid white;
        border-right: none;
        border-top: none;
        border-bottom: none;
        
    }
}


@media (max-width: 800px){
    .header-layout{
        height: 700px;
    }

    .header-layout .content .logo-nav{
        height: 500px;
        align-items: center;
    }

    .header-layout .content .logo-nav img{
        width: 60%;
        height: 30%;
    }
    .header-layout .content .search{
        height: 100px;
    }

    .header-layout .content .logo-nav ul{
        align-items: center;
    }

    .header-layout .content .logo-nav li{
        margin: 5px 0px;
        padding: 0px;
        width: 50%;
        align-items: center;
    }

    .header-layout .content .logo-nav li a{
        font-size: x-large;
    }

    .header-layout .content .search input{
        width: 400px;
    }

    .footer-layout{
        height: 1000px;
    }

    .creditos{
        border-left: none;
        border-right: none;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        
    }
}


@media (max-width: 549px){


    .header-layout .content .logo-nav li{
        width: 100%;
        padding: 0px 70px;
        
    }

    
}

