.divisor-pagina{
    height: 1px;
    background-color: #0495a6;
}

section{
    width: 100%;
    margin: 0 auto;
}

.titulo-vet{
    text-align: center;
    font-size:36px;
    color: rgb(255, 131, 0)
}

.distribuir-around{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    list-style: none;
}

.box-topicos{
    text-align: center;
    width: 310px;
    height: 369px;
    word-wrap: break-word;
    margin: 10px 10px;
    border-radius: 10px;
    box-shadow: 7px 7px 5px #aaaaaa;
    padding: 10px;
}

.clean{
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.espaco-imagem{
    height: 4vh;
}

.btn-agendar{
    background-color:#0495a6;
    border-radius: 10px;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    height: 50px;
    width: 30%;
    outline: none;
    box-shadow: 1px 1px 5px 0 #000000;
    text-shadow: 5px 5px 10px #000000;
    border: solid #ffffff 1px;
    cursor: pointer;
}

.btn-agendar:hover {
    border: solid #337FED 0;
    background: #1E62D0;
    border-radius: 10px;
    border: solid #000000 1px;
    text-decoration: none;
}

.espacamento-botao{
    text-align: center;
    padding: 20px;
}

.centralizar-texto{
    text-align: center;
}

.titulo-color{
    color: #0495a6;
}

.redimensionamento-vet{
    width: 150px;
    height: 150px;

}

.destaque-verso{
    color: rgb(255, 131, 0);
}

/* O container geral define a perspectiva */  
.flip-container { perspective: 1000; }      

/* vira os containers frente e verso quando o mouse passa em cima */
.flip-container:hover .flipper, .flip-container.hover .flipper {        
  transform: rotateY(180deg);   
}    
.flip-container, .front, .back {    
  width: 320px;     
  height: 150px;  
}

/* define a velocidade da transição */
.flipper {      
  transition: 0.6s;     
  transform-style: preserve-3d;     
  position: relative;  
}
    
/* esconde o verso durante a animação */
.front, .back {     
  backface-visibility: hidden;      
  position: absolute;   
  top: 0;   
 left: 0;  
}

.back p{
    padding: 0px 50px;
}
    
/* frente posicionada sobre o verso */
.front { z-index: 2;  }    

/* verso inicialmente escondido */
.back { transform: rotateY(180deg); }

.estilizar-lista{
    list-style: none;
    text-align: left;
    margin-left: 10px;

}

@media(max-width: 800px) {
    .item{
        width: 40%;
    }
}

@media(max-width: 600px) {
    .item{
        width: 100%;
    }
}

